<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- 配置Servlet  -->
        <servlet>
            <servlet-name>demo1</servlet-name>
            <servlet-class>alwaysgoodtime.First</servlet-class>
        </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>alwaysgoodtime.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>alwaysgoodtime.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
            <servlet-name>demo1</servlet-name>
            <url-pattern>*.wode</url-pattern>
        </servlet-mapping>
</web-app>